html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


.logo_right {
    width: auto;
    float:right;
    padding-right:10%;
    padding-botton:1%;
    padding-top:1%;
}


.logo_left{
    width: auto;
    float:left;
    padding-left:10%;
    padding-botton:1%;
    padding-top:1%;
//    -webkit-transform: translate(-50%, 0);
//    -ms-transform: translate(-50%, 0);
//    transform: translate(-50%, 0);
}
.cabecera{
    background: black;
    height: 150px;
}
.pie{
    float:bottom;
    height: 100px;
}

footer {
    background: #3F5E5F;
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    width: 100%;
    bottom: 0;
    position:fixed;
}

tr{


}
td.contenido{
    font-size: 1.6em;
    align-content: center;
}
td.aprobado {
    font-size: 1.6em;
    align-content: center;
    background: red;
}

fieldset{
    background: #80bdff;
    margin:50px;
    width:40%;
    padding: 20px;
}

fieldset.presentacion2{
    font-size:1.8em;

    color:maroon;
    font-style: oblique;
    width:90%;
}
button{

}



legend{
    color:#0b2e13;
    font-size:1.4em;
    background:azure;

}
input[type=file]{
    font-size:1.1em;

}

label,input[type=submit], option{
    font-size:1.2em;
    margin:10px;

}

input.presentacion, button.presentacion{
    font-size:1.4em;
    margin:10px;
    color:maroon;
    text-align: right;
    margin-left: 50%;
    padding: 10px;
}

.msj{
    margin:50px;
    color:darkred;
    font-size:2em;
    alignment: center;
    background: #9faab7;
}
h1{
    font-size: 2.6em;
    alignment: center;
    text-align: center;
    color:darkblue;

}
fieldset.presentacion{
    font-size:2em;
    padding:10px;
    margin:15px;
    color:maroon;
    font-style: oblique;
    width:90%;
}